*.user
*.suo
*.userosscache
*.sln.docstates
/bin/
/obj/
/TestResults/
/out/
.vscode/
*.code-workspace
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/
*.log
*.ps1xml
*.psc1
*.db
*.sqlite
*.DS_Store
Thumbs.db
appsettings.Development.json
*.swp
*.tmp
secrets.json
.env
_ReSharper*/
*.DotSettings.user
publish/
*.Publish.xml
*.dmp